#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  background-color: #e1e1e1;
  padding: .625rem;
  border-bottom: .125rem solid rgb(41, 41, 41);
  margin-bottom: .625rem;
  a,
  span {
    font-variant-caps: all-small-caps;
    font-size: larger;
    color: #2c3e50;
  }
  a {
    &.router-link-exact-active {
      color: #1976d2;
    }
  }
}

// User prompts
.card.success {
	--card-back-color: #25e83105;
	--card-border-color: #3ce825;
}
.card.warning {
	--card-back-color: #ffca2826;
	--card-border-color: #e8b825;
}
// .auth-status {
//   float: right !important;
// }