/* List styles */
.file-list a {
  cursor: pointer;
}
.file-list a.remove-file {
  color: var(--input-invalid-color);
}
.file-list a.successful-upload {
  color: #4caf50;
}
.file-list a.unsuccessful-upload {
  color: var(--a-link-color);
}
/* Progress bar */
/* Source: https://www.w3schools.com/w3css/4/w3.css */
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
  color:#fff!important;
  background-color:#616161!important;
  margin-left: calc(var(--universal-margin) / 2);
  margin-right: calc(var(--universal-margin) / 2);
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after {
  content:"";
  display:table;
  clear:both
}
.w3-container,.w3-panel{
  padding:calc(var(--universal-padding) / 2) calc(var(--universal-padding) / .5);
  margin-top:calc(var(--universal-margin) / 2);
  margin-bottom:calc(var(--universal-margin) / 2);
}
.w3-green,.w3-hover-green:hover {
  color:#fff!important;
  background-color:#4CAF50!important
}
