/* List styles */
.file-list a {
  cursor: pointer;
}
.file-list a.remove-file {
  color: var(--input-invalid-color);
}
.file-list a.successful-upload {
  color: #4caf50;
}
.file-list a.unsuccessful-upload {
  color: var(--a-link-color);
}
/* Progress bar */
/* Source: https://www.w3schools.com/w3css/4/w3.css */
.progress-bar {
  color:#f8f8f8 !important;
  background-color: #f8f8f8 !important;
  margin-left: calc(var(--universal-margin) / 2);
  margin-right: calc(var(--universal-margin) / 2);
}
.w3-container:after,
.w3-container:before {
  content: "";
  display: table;
  clear: both
}
.w3-container {
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / .5);
  margin-top: calc(var(--universal-margin) / 2);
  margin-bottom: calc(var(--universal-margin) / 2);
}
.w3-green {
  color: #f8f8f8 !important;
  background-color: #4caf50 !important
}
