/* Alignment */
table tr {
  text-align: left;
}
table:not(.horizontal) {
  max-height: 100%;
}
/* Sorting arrows */
.arrow {
  width: 0;
  height: 0;
  border-left: .475rem solid transparent;
  border-right: .475rem solid transparent;
  border-bottom: .825rem solid #7d7d7d;
  display: inline-block;
}
.down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
span.arrow {
  cursor: pointer;
}
span.arrow:hover {
  border-bottom-color: #3b4146;
}
.sort-arrows {
  display: inline;
  padding: .125rem;
}
.sort-arrows span ~ span {
  margin-left: .0125rem;
}
/* Inactive colors for edit form page table */
.users-saved-inactive table td,
.users-saved-inactive table th,
.users-saved-inactive table td a:link {
  color: #7d7d7d;
}
.users-saved-inactive table td a:hover {
  color: #212121;
}
.users-saved-inactive table td [role="button"].inverse {
  --button-back-color: #7d7d7d;
  pointer-events: none;
}
/* Colors for authorised users row */
tr.is-authorised,
tr.is-authorised > td {
  background: #90caf90a;
}
/* Disabled links */
table a.disabled,
a.disabled {
  color: inherit;
  pointer-events: none;
}