/* Invalid input */
input:not([type="button"]):not([type="submit"]):not([type="reset"]):invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus:invalid,
textarea:invalid,
textarea:focus:invalid,
select:invalid,
select:focus:invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]).invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):invalid.invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus:invalid.invalid,
select:invalid.invalid,
select:focus:invalid.invalid {
  background-color: #ffeeee4f;
  border-color: var(--input-invalid-color);
}
input:not([type="button"]):not([type="submit"]):not([type="reset"]).invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):invalid.invalid,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus:invalid.invalid,
select:invalid.invalid,
select:focus:invalid.invalid {
  border-width: .165rem;
}
/* Align input */
form div.row > div {
  text-align: left;
  /* margin-left: 0; */
}
form .row label {
  display: block;
  padding-left: 0;
}
form div.row > div > input,
form div.row > div > select {
  margin-left: 0;
}
form div.row + div.row {
  margin-top: calc(3 * var(--universal-margin));
  padding-top: var(--universal-padding);
  border-top: solid lightgray .125rem;
}
/* Error messages */
div.error {
  color: var(--input-invalid-color);
  margin-top: 0;
}
/* Disabled fields and buttons*/
label.disabled,
input.disabled {
	cursor: not-allowed;
	--button-back-color: #7d7c7c;
}
input.disabled:hover,
input.disabled:focus,
label.disabled:hover,
label.disabled:focus {
	background-color: #7d7c7c;
}
label.disabled,
input.disabled {
  color: #f8f8f8;
}