.autocomplete-active,
li:hover,
li:focus-within {
  background-color: var(--table-body-hover-back-color);
  color: #f8f8f8;
}
.form-control {
  width: 100%;
  margin: 0;
}
ul,
li {
  width: auto;
  margin: 0;
  text-align: left;
}
ul,
li {
  background: var(--table-body-back-color);
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: block;
  padding: var(--universal-padding);
  position: relative;
}
li:hover,
li:focus-within {
  cursor: pointer;
}
.matches input,
.matches input:hover,
.matches input:focus,
.matches label,
.matches label:hover,
.matches label:focus {
  pointer-events: none;
}