<div class="row">
    <div class="col-lg-12">
        <p>Your new password: <i><%= password %></i></p>
        <p>Login page: <i><a href="<%= link %>"><%= link %></a></i></p>    
    </div>
    <div class="col-lg-12">
        <p style="font-size: 1.75rem;"> </p>
        <p>Stay connected,</p>
        <p><i>User App</i></p>
    </div>
</div>